<%= render partial: 'shared/navbar' %>
<% if current_user %>
<div class="row">
  <div class="container basic-info col-md-6">
    <div class="profile-pic">
      <img id="profile_pic" src="<%= @user.profile_pic %>" alt="profile-pic" />
    </div>
    <div class="username">
      <h1><%= @user.nickname %></h1>
    </div>
    <div class="row stats">
      <div class="col-md-2 text-center" id="followers">
        <%= @user.followers %><br>
        <p>followers</p>
      </div>
      <div class="col-md-2 text-center" id="starred">
        <%= @user.starred_count(current_user) %><br>
        <p>starred</p>
      </div>
      <div  class="col-md-2 text-center" id="following">
        <%= @user.following %><br>
        <p>following</p>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='btn btn-large btn-info column-md-6'><%= link_to "My Repos", repos_path, class: "info_link" %></div>
    <div class='btn btn-large btn-info column-md-6'><%= link_to "Recent Commits", events_path, class: "info_link" %></div>
  </div>
</div>
<% end %>
